function Square.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push pointer 0
call Square.makeBoxFilled 1
pop temp 0
push pointer 0
return
function Square.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Square.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 3
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push this 3
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push this 1
push this 0
push this 2
add
push this 1
call Screen.drawLine 4
pop temp 0
push this 0
push this 2
add
push this 1
push this 0
push this 2
add
push this 1
push this 2
add
call Screen.drawLine 4
pop temp 0
push this 0
push this 2
add
push this 1
push this 2
add
push this 0
push this 1
push this 2
add
call Screen.drawLine 4
pop temp 0
push this 0
push this 1
push this 2
add
push this 0
push this 1
call Screen.drawLine 4
pop temp 0
label IF_FALSE1
push constant 0
return
function Square.set_x 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 0
return
function Square.set_y 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push constant 0
return
function Square.set_size 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function Square.get_x 0
push argument 0
pop pointer 0
push this 0
return
function Square.get_y 0
push argument 0
pop pointer 0
push this 1
return
function Square.get_size 0
push argument 0
pop pointer 0
push this 2
return
function Square.makeBoxFilled 0
push argument 0
pop pointer 0
push constant 0
not
pop this 3
push constant 0
return
function Square.makeBoxOutline 0
push argument 0
pop pointer 0
push constant 0
pop this 3
push constant 0
return
