function Screen.init 2
push constant 0
not
pop static 1
push constant 17
call Array.new 1
pop static 0
push constant 0
pop local 0
push constant 1
neg
pop local 1
label WHILE_EXP0
push local 0
push constant 17
lt
not
if-goto WHILE_END0
push local 0
push static 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
push local 1
push local 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 8192
pop static 2
push constant 16384
pop static 3
push constant 512
pop static 4
push constant 256
pop static 5
push constant 0
return
function Screen.clearScreen 1
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push static 2
lt
not
if-goto WHILE_END0
push local 0
push static 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Screen.setColor 0
push argument 0
pop static 1
push constant 0
return
function Screen.drawPixel 3
push argument 1
push constant 0
lt
push argument 0
push constant 0
lt
or
push argument 1
push static 5
lt
not
or
push argument 0
push static 4
lt
not
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push static 3
push argument 1
push constant 5
call Math.leftShiftby 2
add
push argument 0
push constant 4
call Math.rightShiftby 2
add
pop local 0
push argument 0
push constant 15
and
pop local 1
push static 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
push local 0
add
pop pointer 1
push that 0
push local 1
push static 0
add
pop pointer 1
push that 0
not
push constant 1
add
or
pop local 2
goto IF_END1
label IF_FALSE1
push constant 0
push local 0
add
pop pointer 1
push that 0
push local 1
push static 0
add
pop pointer 1
push that 0
not
push constant 1
add
not
and
pop local 2
label IF_END1
push constant 0
push local 0
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Screen.drawLine 0
push argument 1
push argument 3
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.drawRectangle 4
pop temp 0
goto IF_END0
label IF_FALSE0
push argument 0
push argument 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.drawRectangle 4
pop temp 0
goto IF_END1
label IF_FALSE1
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.bresenham_lines 4
pop temp 0
label IF_END1
label IF_END0
push constant 0
return
function Screen.drawRectangle 11
push argument 0
push argument 2
call Math.min 2
pop local 0
push argument 1
push argument 3
call Math.min 2
pop local 1
push argument 0
push argument 2
call Math.max 2
pop local 6
push argument 1
push argument 3
call Math.max 2
pop local 7
push argument 0
push argument 2
call Math.max 2
pop local 2
push argument 1
push argument 3
call Math.min 2
pop local 3
push argument 0
push argument 2
call Math.min 2
pop local 4
push argument 1
push argument 3
call Math.max 2
pop local 5
push local 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 0
push constant 0
pop local 4
label IF_FALSE0
push local 0
push static 4
lt
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push local 1
push constant 0
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop local 1
push constant 0
pop local 3
label IF_FALSE2
push local 1
push static 5
lt
not
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
return
label IF_FALSE3
push local 6
push constant 0
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
return
label IF_FALSE4
push local 6
push static 4
lt
not
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push static 4
push constant 1
sub
pop local 6
push local 6
pop local 2
label IF_FALSE5
push local 7
push constant 0
lt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 0
return
label IF_FALSE6
push local 7
push static 5
lt
not
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push static 5
push constant 1
sub
pop local 7
push local 7
pop local 5
label IF_FALSE7
push static 3
push local 1
push constant 5
call Math.leftShiftby 2
add
push local 0
push constant 4
call Math.rightShiftby 2
add
pop local 8
push static 3
push local 3
push constant 5
call Math.leftShiftby 2
add
push local 2
push constant 4
call Math.rightShiftby 2
add
pop local 9
label WHILE_EXP0
push local 1
push local 5
gt
not
not
if-goto WHILE_END0
push local 9
push local 8
sub
push constant 1
gt
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push local 8
push constant 1
add
push local 9
push constant 1
sub
call Screen.drawMultBars 2
pop temp 0
label IF_FALSE8
push local 0
push local 1
push local 2
push local 3
push local 8
push local 9
call Screen.drawPartialBar 6
pop temp 0
push local 8
push constant 32
add
pop local 8
push local 9
push constant 32
add
pop local 9
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Screen.drawCircle 0
push argument 0
push argument 1
push argument 2
push constant 0
not
call Screen._drawCircle 4
pop temp 0
push constant 0
return
function Screen.drawCircleUnFilled 0
push argument 0
push argument 1
push argument 2
push constant 0
call Screen._drawCircle 4
pop temp 0
push constant 0
return
function Screen._drawCircle 13
push constant 1
push argument 2
sub
pop local 0
push constant 1
pop local 1
push argument 2
push argument 2
add
neg
pop local 2
push constant 0
pop local 3
push argument 2
pop local 4
push argument 3
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
push argument 2
sub
push argument 1
push argument 0
push argument 2
add
push argument 1
call Screen.drawHorizontalLine 4
pop temp 0
goto IF_END0
label IF_FALSE0
push argument 0
push argument 2
sub
push argument 1
call Screen.drawPixel 2
pop temp 0
push argument 0
push argument 2
add
push argument 1
call Screen.drawPixel 2
pop temp 0
push argument 0
push argument 1
push argument 2
add
call Screen.drawPixel 2
pop temp 0
push argument 0
push argument 1
push argument 2
sub
call Screen.drawPixel 2
pop temp 0
label IF_END0
label WHILE_EXP0
push local 3
push local 4
lt
not
if-goto WHILE_END0
push local 0
push constant 0
lt
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 4
push constant 1
sub
pop local 4
push local 2
push constant 2
add
pop local 2
push local 0
push local 2
add
pop local 0
label IF_FALSE1
push local 3
push constant 1
add
pop local 3
push local 1
push constant 2
add
pop local 1
push local 0
push local 1
add
pop local 0
push argument 0
push local 3
sub
pop local 5
push argument 0
push local 4
sub
pop local 6
push argument 0
push local 3
add
pop local 7
push argument 0
push local 4
add
pop local 8
push argument 1
push local 3
sub
pop local 9
push argument 1
push local 4
sub
pop local 10
push argument 1
push local 3
add
pop local 11
push argument 1
push local 4
add
pop local 12
push argument 3
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 5
push local 12
push local 7
push local 12
call Screen.drawHorizontalLine 4
pop temp 0
push local 5
push local 10
push local 7
push local 10
call Screen.drawHorizontalLine 4
pop temp 0
push local 6
push local 11
push local 8
push local 11
call Screen.drawHorizontalLine 4
pop temp 0
push local 6
push local 9
push local 8
push local 9
call Screen.drawHorizontalLine 4
pop temp 0
goto IF_END2
label IF_FALSE2
push local 7
push local 12
call Screen.drawPixel 2
pop temp 0
push local 5
push local 12
call Screen.drawPixel 2
pop temp 0
push local 7
push local 10
call Screen.drawPixel 2
pop temp 0
push local 5
push local 10
call Screen.drawPixel 2
pop temp 0
push local 8
push local 11
call Screen.drawPixel 2
pop temp 0
push local 6
push local 11
call Screen.drawPixel 2
pop temp 0
push local 8
push local 9
call Screen.drawPixel 2
pop temp 0
push local 6
push local 9
call Screen.drawPixel 2
pop temp 0
label IF_END2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Screen.drawMultBars 0
label WHILE_EXP0
push argument 0
push argument 1
gt
not
not
if-goto WHILE_END0
push constant 0
push argument 0
add
push static 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 0
push constant 1
add
pop argument 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Screen.drawHorizontalLine 2
push argument 3
push argument 1
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.drawLine 4
pop temp 0
push constant 0
return
label IF_FALSE0
push argument 1
push constant 0
lt
push argument 3
push static 5
lt
not
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push argument 0
push constant 0
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop argument 0
label IF_FALSE2
push argument 2
push static 4
lt
not
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push static 4
push constant 1
sub
pop argument 2
label IF_FALSE3
push static 3
push argument 1
push constant 5
call Math.leftShiftby 2
add
push argument 0
push constant 4
call Math.rightShiftby 2
add
pop local 0
push static 3
push argument 3
push constant 5
call Math.leftShiftby 2
add
push argument 2
push constant 4
call Math.rightShiftby 2
add
pop local 1
push local 1
push local 0
sub
push constant 1
gt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 0
push constant 1
add
push local 1
push constant 1
sub
call Screen.drawMultBars 2
pop temp 0
label IF_FALSE4
push argument 0
push argument 1
push argument 2
push argument 3
push local 0
push local 1
call Screen.drawPartialBar 6
pop temp 0
push constant 0
return
function Screen.drawPartialBar 3
push argument 0
push constant 15
and
push static 0
add
pop pointer 1
push that 0
pop local 0
push argument 2
push constant 15
and
push constant 1
add
push static 0
add
pop pointer 1
push that 0
pop local 1
push local 0
push local 1
not
and
pop local 2
push argument 4
push argument 5
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
push argument 4
add
push constant 0
push argument 4
add
pop pointer 1
push that 0
push local 2
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto IF_END1
label IF_FALSE1
push constant 0
push argument 4
add
push constant 0
push argument 4
add
pop pointer 1
push that 0
push local 2
not
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_END1
goto IF_END0
label IF_FALSE0
push static 1
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
push argument 4
add
push constant 0
push argument 4
add
pop pointer 1
push that 0
push local 0
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push argument 5
add
push constant 0
push argument 5
add
pop pointer 1
push that 0
push local 1
not
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto IF_END2
label IF_FALSE2
push constant 0
push argument 4
add
push constant 0
push argument 4
add
pop pointer 1
push that 0
push local 0
not
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push argument 5
add
push constant 0
push argument 5
add
pop pointer 1
push that 0
push local 1
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_END2
label IF_END0
push constant 0
return
function Screen.bresenham_lines 6
push argument 2
push argument 0
sub
call Math.abs 1
pop local 0
push argument 3
push argument 1
sub
call Math.abs 1
pop local 1
push constant 1
neg
pop local 2
push constant 1
neg
pop local 3
push argument 0
push argument 2
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
pop local 2
label IF_FALSE0
push argument 1
push argument 3
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
pop local 3
label IF_FALSE1
push local 0
push local 1
sub
pop local 4
push constant 0
not
pop local 5
label WHILE_EXP0
push local 5
not
if-goto WHILE_END0
push argument 0
push argument 1
call Screen.drawPixel 2
pop temp 0
push argument 0
push argument 2
eq
push argument 1
push argument 3
eq
or
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
return
label IF_FALSE2
push local 4
push local 4
add
push local 1
neg
lt
not
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 4
push local 1
sub
pop local 4
push argument 0
push local 2
add
pop argument 0
label IF_FALSE3
push local 4
push local 4
add
push local 0
gt
not
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 4
push local 0
add
pop local 4
push argument 1
push local 3
add
pop argument 1
label IF_FALSE4
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
