function Fraction.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
return
function Fraction.HARD_COPY 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
call Fraction.getNumerator 1
pop this 0
push argument 0
call Fraction.getDenominator 1
pop this 1
push pointer 0
return
function Fraction.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Fraction.getNumerator 0
push argument 0
pop pointer 0
push this 0
return
function Fraction.getDenominator 0
push argument 0
pop pointer 0
push this 1
return
function Fraction.setNumerator 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 0
return
function Fraction.setDenominator 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push constant 0
return
function Fraction.addFractions 4
push argument 0
pop pointer 0
push constant 0
pop local 3
push argument 2
call Fraction.getDenominator 1
push argument 1
call Fraction.getNumerator 1
call Math.multiply 2
push argument 1
call Fraction.getDenominator 1
push argument 2
call Fraction.getNumerator 1
call Math.multiply 2
add
pop local 0
push argument 1
call Fraction.getDenominator 1
push argument 2
call Fraction.getDenominator 1
call Math.multiply 2
pop local 1
push local 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 3
not
pop local 3
push local 0
neg
pop local 0
label IF_FALSE0
push local 1
push constant 0
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 3
not
pop local 3
push local 1
neg
pop local 1
label IF_FALSE1
push local 0
push local 1
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push constant 1
call Fraction.setNumerator 2
pop temp 0
push pointer 0
push constant 1
call Fraction.setDenominator 2
pop temp 0
goto IF_END2
label IF_FALSE2
push local 0
push local 1
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
push local 1
call Math.GCD 2
pop local 2
goto IF_END3
label IF_FALSE3
push local 1
push local 0
call Math.GCD 2
pop local 2
label IF_END3
push pointer 0
push local 0
push local 2
call Math.divide 2
call Fraction.setNumerator 2
pop temp 0
push pointer 0
push local 1
push local 2
call Math.divide 2
call Fraction.setDenominator 2
pop temp 0
label IF_END2
push local 3
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
push pointer 0
call Fraction.getNumerator 1
neg
call Fraction.setNumerator 2
pop temp 0
label IF_FALSE4
push constant 0
return
function Fraction.extractWholeFromFractionAndModifyGivenFraction 1
push argument 0
pop pointer 0
push pointer 0
call Fraction.getNumerator 1
push pointer 0
call Fraction.getDenominator 1
call Math.divide 2
pop local 0
push pointer 0
push pointer 0
call Fraction.getNumerator 1
push pointer 0
call Fraction.getDenominator 1
call Math.mod 2
call Fraction.setNumerator 2
pop temp 0
push local 0
return
function Fraction.extractWholeFromFraction 0
push argument 0
pop pointer 0
push pointer 0
call Fraction.getNumerator 1
push pointer 0
call Fraction.getDenominator 1
call Math.divide 2
return
